
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 300px;
}

html {
  position: relative;
  min-height: 100%;
}



header{
background-color:purple ;
color: white;
padding-top: 15px;
}

a{
text-decoration: none;
color: white;
}

a:hover{
color: yellow;
}

.nav-contact{
display:grid;
grid-template-columns: 1fr 1fr;

}

.nav-contact img{
width: 35px;
margin: 4px;
}

.intro{
background: url(../images/realp.png);
background-size: cover;
background-repeat: no repeat;
opacity: 3.8;
height: 380px;
color: white;
padding-top: 100px;
text-align: center;
}



.intro button{
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
width: 140px;
color: white;
margin: 3px;
margin-top: 60px;

}

#more{
border: 2px solid teal;
background: teal;

}

#donate{
border: 2px solid orange;
background: orange;

}


.navbar-custom 
.navbar-brand,
.navbar-custom 
.navbar-nav 
.nav-link {
    color: #ffffff; 
}






.footer {
  
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 300px;
    }
    .footer {
      height: 300px;
    }
}


footer {
  padding-top: 30px;
  background-color: teal;
  color: #bbb;
}

footer a {
  color: white;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer a i{
color: white;
}